@media only screen and (min-width:1000px){
  .prof_tble{
    display: block;
  }
  .profile_d{
    display: block;
  }
  .profile_m{
    display: none;
  }
  .content_div{
    padding-bottom: 30%;
  }
  /* ================DASHBOARD========================================== */
  .tools_div{
    margin-bottom:30px;
    margin-left: 30px;
    width:130px;
    height:130px;
    border-radius: 3px;
  }
  .dash_ul li{
    float: left;
  }
  .dashimg{
    width:80%;
    height:auto;
  }
  .dashboarddiv{
    padding: 50px 0 50px 0;
    border: 1px solid #929394;
  }
  /* ===============FOOTER PAGE========================================= */
  .footer{

  }
  .footer_img{
    width:100%;
    height:auto;
  }
  .ftr_left{
    justify-content: flex-start;

  }
  .footerdata{
    text-align: left;
  }
  .powered{
    padding-top: 185px;
  }
  .centerdiv{
    width:1000px;
  }
  /* =========================GALLERY============================== */
  .gfdiv{
    padding: 10px 50px 10px 50px;

  }
  .gfrmDiv{
    height:auto;
    width:800px;
    align-self: center;
    border: 1px solid #bac1c1;
  }
  .gfContainer{
    padding-left: 15%;
  }

}
